$darkgrey: #101010;
$middlegrey: #262626;
$lightgrey: #E0E0E0;

h1, h2, h3, h4, .title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $darkgrey;
    text-transform: uppercase;
}
h1, .title {
    font-size: 60px;
    line-height: 70px;

    &__mini {
        font-size: 40px;
        line-height: 40px;
    }

    @media screen and (min-width: 768px) {
        font-size: 80px;
        line-height: 80px;
        &__mini {
            font-size: 60px;
            line-height: 72px;
        }
    }
}
p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: $darkgrey;

    &.subtxt {
        font-size: 14px;
        line-height: 20px;
        font-weight: 800;  
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;

        &.subtxt {
            font-size: 16px;
            line-height: 22px;  
        }
    }
}
button {
    &.btn {
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 14px;
    }
    &.btn-dark {
        border-radius: 0;
        background-color: $middlegrey;
        text-transform: uppercase;
        padding: 17px 27px 17px 27px;
        &::after {
            content: '';
            background-image: url('../img/arrow.svg');
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 25px;
        }
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.px-6030 {
    padding: 0 30px;
    @media screen and (min-width: 768px) {
        padding: 0 60px;
    }
}

// HEADER
.nav-pallino {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: transparent;
    &.fixed-white {
        background-color: white;
        .text-white {
            color: $darkgrey !important;
        }
        .nav-second {
            .moon {
                svg {
                    path {
                        fill: $darkgrey;
                    }
                }
            }
            .search {
                svg {
                    path {
                        stroke: $darkgrey;
                    }
                }
            }
        }
    }

    .container {
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        padding: 32px 17px;
        margin: 0;
        background-color: white;
    }
    .menu-pallino {
        margin: 0 auto;

        > .nav-item .nav-link {
            font-weight: 700;
            text-transform: uppercase;
            padding: 0;
            margin: 0 16px;
            &::after {
                content: none;
            }
            &.show {
                border-bottom: 1px solid white;
            }
        }

        .dropdown-menu {
            left: 0;
            right: 0;
            padding: 0 40px;
            margin-top: 0;
            border-radius: 0;
            background-color: $middlegrey;

            .col-menu {
                border-right: 1px solid #E0E0E033;
                padding: 40px 0;
                &:last-of-type {
                    border: none;
                }
            }

            .title-dropdown {
                p {
                    font-size: 12px;
                    font-weight: 700;
                    color: #E0E0E080;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
            .dropdown-item {
                padding: 0;
                font-weight: 700;
                line-height: 36px;
                color: $lightgrey;
            }
        }
    }

    .nav-second {
        display: flex;
        align-items: center;
        .search {
            svg {
                path {
                    stroke: white;
                }
            }
        }
        .moon {
            margin-left: 25px;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }
}

// HEADER BANNER
.swiper {
    width: 100%;
    height: 100vh;
    overflow-y: visible;

    .swiper-slide {
        height: 80vh;
    }

    .content-slide {
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        max-width: 660px;
        padding: 40px;
        border: 1px solid $lightgrey;
        @media screen and (min-width: 768px) {
            left: 60px;
            bottom: -25%; 
            top: auto;
        }
    }
}

// NUMBERS  
.box-numbers {
    margin-top: 120px;
}

.content-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 51px;
    .counter-container {
        flex: 0 0 100%;
        text-align: center;
        border-top: 2px solid $middlegrey;
        border-bottom: 2px solid $middlegrey;
        @media screen and (min-width: 768px) {
            flex: 0 0 31%;
        }
        .counter {
            font-size: 120px;
            display: block;
            color: $darkgrey;
            &.plus {
                &::after {
                    content: '+';
                }
            }
        }
        .yellow-box {
            background-color: #F5D200;
            display: inline-block;
            margin-bottom: 29px;
            p {
                margin: 0;
                padding: 5px 10px;
            }
        }
    }
}

// Video
.double-box {
    background-color: $darkgrey;
    margin-top: 119px;
    overflow: hidden;
    .content-text {
        padding: 40px;
    }
    .box-video {
        overflow: hidden;
    }
}

// sticky image right
.sticky-image {
    margin-top: 120px;
    margin-bottom: 102px;
    border-top: 2px solid $middlegrey;
    border-bottom: 2px solid $middlegrey;
    padding-top: 39px;
    padding-bottom: 88px;

    img {
        width: 100%;
        position: sticky;
        top: 140px;
    }
}

// TEXT SCROLL
@keyframes text_animation {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.content-txt-scroll {
    background-color: $darkgrey;
    padding: 10px 0;
    margin-bottom: 123px;
    overflow: hidden;
    .scroll-text {
        animation: text_animation 5s linear infinite;
        white-space: nowrap;
        p {
            font-family: "Lato", sans-serif;
            color: white;
            font-size: 40px;
            line-height: 48px;
            display: inline-block;
            margin: 0;
            @media screen and (min-width: 768px) {
                font-size: 70px;
                line-height: 84px;
            }
        }
    }
}

// FILTERS
.box-portfolio {
    .box-filter {
        padding-bottom: 10px;
        border-bottom: 2px solid $middlegrey;
        p {
            margin-bottom: 40px;
        }
    }
}
.container-filter {
    .filter {
        margin-bottom: 24px;
        label {
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            color: $lightgrey;
            cursor: pointer;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 2px solid $lightgrey;

            input[type="radio"] {
                width: 0;
            }
        }
    }
    .filter-list {
        .box-img-filter {
            position: relative;
            margin-bottom: 30px;
            p {
                font-size: 40px;
                position: absolute;
                left: 30px;
                bottom: 30px;
                color: white;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }
}

// BRAND
.brand-client {
    overflow-x: hidden;
    padding-top: 130px;
    margin-bottom: 100px;
    .slide-client {
        display: flex;
        align-items: center;
        img {
            margin-right: 50px;
        }
    }
}

// FOOTER
.footer {
    background-color: $middlegrey;
    padding-bottom: 62px;

    .foot-title {
        font-family: "Lato", sans-serif;
        font-size: 40px;
        line-height: 40px;
        color: white;
        margin: 60px 0 26px 0;
        @media screen and (min-width: 768px) {
            margin: 80px 0 26px 0;
        }
    }

    ul {
        border-bottom: 1px solid rgba(224, 224, 224, 0.2);
        padding-bottom: 32px;
        margin-bottom: 20px;

        &.footer-social {
            border: none;
            padding: 0;
            margin: 0;
        }

        @media screen and (min-width: 768px) {
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    li, a {
        color: white;
        text-decoration: none;
    }

    .footer-social {
        img {
            margin-right: 20px;
        }
    }

    hr {
        border-color: rgba(224, 224, 224, 0.2);
        margin-bottom: 24px;
        margin-top: 32px;
        width: 90px;
        opacity: 1;
    }

    .area-riservata {
        img {
            margin-right: 20px;
        }
    }

    .finishline {
        border-color: rgba(224, 224, 224, 0.2);
        width: 100%;
        opacity: 1;
        margin-top: 20px;
        margin-bottom: 0;
        @media screen and (min-width: 768px) {
            margin-top: 64px;
        }
    }
}
